{% extends 'displayjob/html/base.html' %}

{%block content%}
<div class="wrapper" style="margin-top: 14vh;width: 95%;">
    <!-- Begin Top Buttons -->
    <div class="top-panel">
      <div class="right username" id="initial">+
      </div>
      <section class="left">
      <div class="short-nav">
        <div id="social-share">
          <span class="entypo-share"></span>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
      <!-- Begin Panel Content -->
      <div class="content">
        <!-- Social Media Links -->

        <!-- Name & Title Objects -->
        {%for job in username%}
        <div class="contact-info">
          <span class="entypo-vcard"></span>
          <h1>
              {{job.job_name}}</h1>
              
          <h2>Job Description</h2>
          <p>{{job.job_description}}</p>
          <hr />
          <span class="entypo-graduation-cap"></span>
           <dl>
            
             <dt>Required Skills</dt>
             {%for skill in skills%} 
            <dd>{{skill.inter_skill_id}}</dd>
            {%endfor%} 
           </dl>
           <hr />
           <span class="entypo-graduation-cap"></span>
            <dl>
             
              <dt>Common Education Requirements</dt>
              {%for edu  in job.job_education%} 
             <dd>{{edu}}</dd>
             {%endfor%} 
            </dl>
        </div>

        <!-- Clear Positioned V-Card Objects -->
        <div class="clearfix"></div>
        <!-- Begin Contact Methods -->
        <div class="wepa">
          <table>
            <thead>
            
              <th><span class="entypo-monitor"></span> Url links to reading materials</th>
              
            </thead>
            <tbody>
              <tr>
              <td>
              {%for material in materials%}
                <a href="{{material.material_url}}">{{material.material_name}}</a>
                {%endfor%}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
  {%endfor%}
  <!-- Add User Modal Window -->
  

{%endblock%}